# Copy this file to 'secrets.properties' and fill in your own keys
# Register at: https://dev.fitbit.com/apps/new
FITBIT_CLIENT_ID=YOUR_CLIENT_ID
FITBIT_CLIENT_SECRET=YOUR_32_CHARACTER_SECRET

# Get from Google Cloud Console
YOUTUBE_API_KEY=YOUR_YOUTUBE_KEY

# Get from https://api.nal.usda.gov/
USDA_API_KEY=YOUR_USDA_KEY
